body {
  font-size: 24px;
  font-family: Helvetica, sans-serif;
  background: #fff;
  color: #333;
  margin-bottom: 2rem;
  --control-padding: 8px;
}

.invisible {
  visibility: hidden;
}

.controls {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#group-type-select {
  max-width: 100%;
  padding: var(--control-padding);
}

#status-message {
  background-color: hsla(53, 100%, 60%, 0.8);
  margin-bottom: 1rem;
  padding: var(--control-padding);
  border-radius: 0.25rem;
}

ul {
  list-style-type: none;
}

button {
  font-family: Helvetica;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  padding: var(--control-padding);
  border-radius: 0.5em;
  border-color: #333;
  border-style: solid;
  background-color: #fff;
  min-width: 44px;
  margin-top: 1em;
}

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:link {
  color: #222;
  font-weight: 700;
}

a:visited {
  color: #ddd;
}

footer {
  font-size: small;
  margin-top: 8rem;
}

#version-info {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  font-size: 0.5rem;
  color: #666;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

#leader-fact {
  font-size: xxx-large;
  max-width: 16em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

#group-image {
  max-width: 60%;
}

#thinking-icon {
  display: inline-block;
}

.spinning {
  transform-origin: center;
  animation: 1s linear spin infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform-origin: center;
    transform: rotate(359deg);
  }
}

@media all and (max-height: 568px) {
  body {
    font-size: 18px;
  }
  #leader-fact {
    font-size: xx-large;
  }

  #group-image {
    max-width: 80%;
  }
}
